<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= farm.name %>
    </title>
</head>

<body>
    <h1>
        <%= farm.name %>
    </h1>
    <ul>
        <li>location:
            <%= farm.location %>
        </li>
    </ul>
    <a href="/farms">Go back</a>
    <a href="/farms/<%=farm.id %>/edit">Edit</a>
    <a href="/farms/<%= farm._id%>/products/new">Add new product</a>
    <form action="/farms/<%= farm.id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
</body>

</html>