<%- include('partials/head')%>

    <%- include('partials/navbar')%>
        <h1>
            <%= name %>
        </h1>
        <h2>
            <%= description %>
        </h2>
        <p>
            <%=subscribers %> Total subscribers</p>
        </body>

        </html>